<p id="notice"><%= notice %></p>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= @prison.banner_url %>);">
  <div class="banner-content">
    <h1><%= @prison.name %></h1>
  </div>
</div>
<div class="container">
  <div class="form-header">
    <h4>Incarcerate Inmate</h4>
  </div>
  <%= render 'inmates/form' %>

  <div class="row">
    <% @prison.inmates.each do |inmate| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= inmate.image_url %>);">


          <div class="card-tags">
            <% inmate.crimes.each do |crime| %>
              <span><%= crime.name %></span>
            <% end %>
            <%= link_to new_inmate_inmate_crime_path(inmate) do %>
              <span><i class="fas fa-plus"></i></span>
            <% end %>
          </div>


          <div class="card-description">
            <h2><%= inmate.name %></h2>
          </div>
          <%= link_to inmate_path(inmate), class: "card-remove-link", method: :delete do %>
            <i class="fas fa-syringe"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
